$margin: 10px;

.BookingItem {
  display: flex;
  margin: 0px $margin;
  justify-content: space-between;
  line-height: 45px;

  &:nth-child(even) {
    background-color: lightgray;
  }

  .data, .buttons {
    display: flex;
    align-items: center;

    div, button {
      margin: 0px $margin;
    }
  }
}
