body {
  display: flex;
}

form {
  order: 2;

  padding-left: 20px;

  label {
    display: inline-block;
    width: 50px;
  }

  fieldset {
    border: none;
  }
}

table {
  border-collapse: collapse;

  tr {
    &.header {
      td {
        font-weight: bold;
      }
    }

    &.footer {
      border-top: 1px solid black;
      border-bottom: 3px solid black;
    }

    th {
      border-bottom: 1px solid black;
    }
  }

  tr {
    td {
      padding: 5px 10px;
    }
  }

  tr:nth-child(2n) {
    td {
      background: #e8e8e8;
    }
  }
}
